*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}


#navbar{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

#navLeft{
  display: flex;
}

#navLeft img{
  width: 150px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-links div{
  transition: transform 0.3s;
}

.nav-links div:hover{
  transform: scale(1.2);

}


.nav-links li{
  list-style: none;
  font-size: 1.3rem;
  transition: 0.3s;
}

.nav-links li:hover{
  color: rgb(255, 72, 0);
}

.navBtn{
  width: 150px;
  height: 35px;
  border: 2px solid rgb(255, 72, 0);
  background-color: white;
  color: rgb(255, 72, 0);
  border-radius: 10px;
  transition: 0.3s;
}

.navBtn:hover{
  background-color: rgb(255, 72, 0);
  color: white;
}

/* Food.js css and card css */

.food-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px;
}

.food-inner-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: center;
  gap: 10px;
  padding: 8px;
}

.item-card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.card-title{
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  align-items: center;
  gap: 10px;
}

.card-desc{
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

.card-price{
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

.card-btn{
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

.card-category{
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

.btn{
  width: 200px;
  height: 35px;
  border: 2px solid rgb(255, 72, 0);
  background-color: white;
  color: rgb(255, 72, 0);
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover{
  background-color: rgb(255, 72, 0);
  color: white;
}



.order-title-container{
  display: flex;
  margin: 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.empty-order a{
  color: rgb(255, 72, 0);
}



.order-child-container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 20px;
}

.order-item-card{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.order-item-title{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}



.order-item-price{
  display: flex;
  flex-wrap: wrap;
  width: 10%;
}

.order-item-qty{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  gap: 6px;
}

.removeOrder-btn{
  width: 150px;
  height: 35px;
  background-color: white;
  color: rgb(255, 72, 0);
  border: 2px solid rgb(255, 72, 0);
  transition: 0.3s;
  border-radius: 10px;
}

.removeOrder-btn:hover{
  background-color: rgb(255, 72, 0);
  color: white;
}

.qtyBtn{
  width: 25px;
  background-color: white;
  color: rgb(255, 72, 0);
  border: 2px solid rgb(255, 72, 0);
  transition: 0.3s;
  border-radius: 10px;
}

.qtyBtn:hover{
  background-color: rgb(255, 72, 0);
  color: white;
}

.order-total{
  display: flex;
  justify-content: center;
}







